# =========================
# PostgreSQL principal
# =========================
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=qa_db
PG_USER=qa_user
PG_PASSWORD=qa_password
PG_CONNECT_TIMEOUT=5

# =========================
# OpenSearch
# =========================
OPENSEARCH_HOST=localhost
OPENSEARCH_PORT=9200
OPENSEARCH_USER=admin
OPENSEARCH_PASSWORD=admin
OPENSEARCH_USE_SSL=false
OPENSEARCH_VERIFY_CERTS=false
